<div class="search-form">
  <%= form_with(url: search_users_path, method: :get, local: true) do |f| %>
    <div class="field">
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.select :views, ["１万以上"], ["１０万以上"], ["１００万以上"], include_blank: "指定しない" %>
    </div>

    <div class="actions">
      <%= f.submit(t('helpers.submit.search')) %>
    </div>
  <% end %>
</div>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Views</th>
  </tr>
  </thead>

  <tbody>
    <tr>
      <td>動画タイトル</td>
      <td>再生回数</td>
    </tr>
  <% end %>
  </tbody>
</table>