<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>検索履歴</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>
              <% @results.each do |result| %>
                <p><%= result.content %></p>
              <% end %>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
<% else %>
  <%= render 'sessions/new' %>
<% end %>